@charset "UTF-8";
@font-face {
	font-family: "line-icons";
	src: url("../fonts/line-icons.eot");
	src: url("../fonts/line-icons.eot?#iefix") format("embedded-opentype"),  url("../fonts/line-icons.woff") format("woff"),  url("../fonts/line-icons.ttf") format("truetype"),  url("../fonts/line-icons.svg#line-icons") format("svg");
	font-weight: normal;
	font-style: normal;
}
[data-icon]:before {
	font-family: "line-icons" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class^="icons-"]:before, [class*=" icons-"]:before {
	font-family: "line-icons" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icons-alerts-01:before {
	content: "a";
}
.icons-alerts-02:before {
	content: "b";
}
.icons-alerts-03:before {
	content: "c";
}
.icons-alerts-04:before {
	content: "d";
}
.icons-alerts-05:before {
	content: "e";
}
.icons-alerts-06:before {
	content: "f";
}
.icons-alerts-07:before {
	content: "g";
}
.icons-alerts-08:before {
	content: "h";
}
.icons-alerts-09:before {
	content: "i";
}
.icons-alerts-10:before {
	content: "j";
}
.icons-alerts-11:before {
	content: "k";
}
.icons-alerts-12:before {
	content: "l";
}
.icons-alerts-13:before {
	content: "m";
}
.icons-arrows-08:before {
	content: "n";
}
.icons-arrows-07:before {
	content: "o";
}
.icons-arrows-06:before {
	content: "p";
}
.icons-arrows-05:before {
	content: "q";
}
.icons-arrows-03:before {
	content: "r";
}
.icons-arrows-04:before {
	content: "s";
}
.icons-arrows-02:before {
	content: "t";
}
.icons-arrows-01:before {
	content: "u";
}
.icons-alerts-18:before {
	content: "v";
}
.icons-alerts-17:before {
	content: "w";
}
.icons-alerts-16:before {
	content: "x";
}
.icons-alerts-15:before {
	content: "y";
}
.icons-alerts-14:before {
	content: "z";
}
.icons-arrows-09:before {
	content: "A";
}
.icons-arrows-10:before {
	content: "B";
}
.icons-arrows-11:before {
	content: "C";
}
.icons-arrows-12:before {
	content: "D";
}
.icons-arrows-13:before {
	content: "E";
}
.icons-arrows-14:before {
	content: "F";
}
.icons-arrows-15:before {
	content: "G";
}
.icons-arrows-16:before {
	content: "H";
}
.icons-arrows-22:before {
	content: "I";
}
.icons-arrows-17:before {
	content: "J";
}
.icons-arrows-18:before {
	content: "K";
}
.icons-arrows-19:before {
	content: "L";
}
.icons-arrows-20:before {
	content: "M";
}
.icons-arrows-21:before {
	content: "N";
}
.icons-arrows-30:before {
	content: "O";
}
.icons-arrows-31:before {
	content: "P";
}
.icons-arrows-32:before {
	content: "Q";
}
.icons-arrows-33:before {
	content: "R";
}
.icons-arrows-34:before {
	content: "S";
}
.icons-arrows-23:before {
	content: "O";
}
.icons-arrows-24:before {
	content: "T";
}
.icons-arrows-25:before {
	content: "U";
}
.icons-arrows-26:before {
	content: "V";
}
.icons-arrows-27:before {
	content: "W";
}
.icons-arrows-28:before {
	content: "X";
}
.icons-arrows-29:before {
	content: "Y";
}
.icons-arrows-36:before {
	content: "Z";
}
.icons-arrows-37:before {
	content: "0";
}
.icons-arrows-38:before {
	content: "1";
}
.icons-arrows-39:before {
	content: "2";
}
.icons-arrows-40:before {
	content: "3";
}
.icons-arrows-41:before {
	content: "4";
}
.icons-badges-votes-01:before {
	content: "5";
}
.icons-badges-votes-02:before {
	content: "6";
}
.icons-arrows-30:before {
	content: "7";
}
.icons-badges-votes-03:before {
	content: "8";
}
.icons-badges-votes-04:before {
	content: "9";
}
.icons-badges-votes-05:before {
	content: "!";
}
.icons-badges-votes-06:before {
	content: "\"";
}
.icons-arrows-35:before {
	content: "#";
}
.icons-badges-votes-07:before {
	content: "$";
}
.icons-badges-votes-08:before {
	content: "%";
}
.icons-badges-votes-09:before {
	content: "&";
}
.icons-badges-votes-10:before {
	content: "'";
}
.icons-badges-votes-11:before {
	content: "(";
}
.icons-badges-votes-12:before {
	content: ")";
}
.icons-badges-votes-13:before {
	content: "*";
}
.icons-badges-votes-14:before {
	content: "+";
}
.icons-badges-votes-15:before {
	content: ",";
}
.icons-badges-votes-16:before {
	content: "-";
}
.icons-chat-messages-01:before {
	content: ".";
}
.icons-chat-messages-02:before {
	content: "/";
}
.icons-chat-messages-03:before {
	content: ":";
}
.icons-chat-messages-04:before {
	content: ";";
}
.icons-chat-messages-05:before {
	content: "<";
}
.icons-chat-messages-06:before {
	content: "=";
}
.icons-chat-messages-07:before {
	content: ">";
}
.icons-chat-messages-08:before {
	content: "?";
}
.icons-chat-messages-09:before {
	content: "@";
}
.icons-chat-messages-10:before {
	content: "[";
}
.icons-chat-messages-11:before {
	content: "]";
}
.icons-chat-messages-12:before {
	content: "^";
}
.icons-chat-messages-13:before {
	content: "_";
}
.icons-chat-messages-14:before {
	content: "`";
}
.icons-chat-messages-15:before {
	content: "{";
}
.icons-chat-messages-16:before {
	content: "|";
}
.icons-documents-bookmarks-01:before {
	content: "}";
}
.icons-documents-bookmarks-02:before {
	content: "~";
}
/*.icons-documents-bookmarks-03:before {
  content: "\";
}*/
.icons-documents-bookmarks-04:before {
	content: "\e000";
}
.icons-documents-bookmarks-05:before {
	content: "\e001";
}
.icons-documents-bookmarks-06:before {
	content: "\e002";
}
.icons-documents-bookmarks-07:before {
	content: "\e003";
}
.icons-documents-bookmarks-08:before {
	content: "\e004";
}
.icons-documents-bookmarks-09:before {
	content: "\e005";
}
.icons-documents-bookmarks-10:before {
	content: "\e006";
}
.icons-documents-bookmarks-11:before {
	content: "\e007";
}
.icons-documents-bookmarks-12:before {
	content: "\e008";
}
.icons-documents-bookmarks-13:before {
	content: "\e009";
}
.icons-documents-bookmarks-14:before {
	content: "\e00a";
}
.icons-documents-bookmarks-15:before {
	content: "\e00b";
}
.icons-documents-bookmarks-16:before {
	content: "\e00c";
}
.icons-ecology-01:before {
	content: "\e00d";
}
.icons-ecology-02:before {
	content: "\e00e";
}
.icons-ecology-03:before {
	content: "\e00f";
}
.icons-ecology-04:before {
	content: "\e010";
}
.icons-ecology-05:before {
	content: "\e011";
}
.icons-ecology-06:before {
	content: "\e012";
}
.icons-ecology-07:before {
	content: "\e013";
}
.icons-ecology-08:before {
	content: "\e014";
}
.icons-ecology-09:before {
	content: "\e015";
}
.icons-ecology-10:before {
	content: "\e016";
}
.icons-ecology-11:before {
	content: "\e017";
}
.icons-ecology-12:before {
	content: "\e018";
}
.icons-ecology-13:before {
	content: "\e019";
}
.icons-ecology-14:before {
	content: "\e01a";
}
.icons-ecology-15:before {
	content: "\e01b";
}
.icons-ecology-16:before {
	content: "\e01c";
}
.icons-education-science-01:before {
	content: "\e01d";
}
.icons-education-science-02:before {
	content: "\e01e";
}
.icons-education-science-03:before {
	content: "\e01f";
}
.icons-education-science-04:before {
	content: "\e020";
}
.icons-education-science-05:before {
	content: "\e021";
}
.icons-education-science-06:before {
	content: "\e022";
}
.icons-education-science-07:before {
	content: "\e023";
}
.icons-education-science-08:before {
	content: "\e024";
}
.icons-education-science-09:before {
	content: "\e025";
}
.icons-education-science-10:before {
	content: "\e026";
}
.icons-education-science-11:before {
	content: "\e027";
}
.icons-education-science-12:before {
	content: "\e028";
}
.icons-education-science-13:before {
	content: "\e029";
}
.icons-education-science-14:before {
	content: "\e02a";
}
.icons-education-science-15:before {
	content: "\e02b";
}
.icons-education-science-16:before {
	content: "\e02c";
}
.icons-education-science-17:before {
	content: "\e02d";
}
.icons-education-science-18:before {
	content: "\e02e";
}
.icons-education-science-19:before {
	content: "\e02f";
}
.icons-education-science-20:before {
	content: "\e030";
}
.icons-emoticons-01:before {
	content: "\e031";
}
.icons-emoticons-02:before {
	content: "\e032";
}
.icons-emoticons-03:before {
	content: "\e033";
}
.icons-emoticons-04:before {
	content: "\e034";
}
.icons-emoticons-05:before {
	content: "\e035";
}
.icons-emoticons-06:before {
	content: "\e036";
}
.icons-emoticons-07:before {
	content: "\e037";
}
.icons-emoticons-08:before {
	content: "\e038";
}
.icons-emoticons-09:before {
	content: "\e039";
}
.icons-emoticons-10:before {
	content: "\e03a";
}
.icons-emoticons-11:before {
	content: "\e03b";
}
.icons-emoticons-12:before {
	content: "\e03c";
}
.icons-emoticons-13:before {
	content: "\e03d";
}
.icons-emoticons-14:before {
	content: "\e03e";
}
.icons-emoticons-15:before {
	content: "\e03f";
}
.icons-emoticons-16:before {
	content: "\e040";
}
.icons-emoticons-17:before {
	content: "\e041";
}
.icons-emoticons-18:before {
	content: "\e042";
}
.icons-emoticons-19:before {
	content: "\e043";
}
.icons-emoticons-20:before {
	content: "\e044";
}
.icons-emoticons-21:before {
	content: "\e045";
}
.icons-emoticons-22:before {
	content: "\e046";
}
.icons-emoticons-23:before {
	content: "\e047";
}
.icons-emoticons-24:before {
	content: "\e048";
}
.icons-emoticons-25:before {
	content: "\e049";
}
.icons-emoticons-26:before {
	content: "\e04a";
}
.icons-emoticons-27:before {
	content: "\e04b";
}
.icons-emoticons-28:before {
	content: "\e04c";
}
.icons-emoticons-29:before {
	content: "\e04d";
}
.icons-emoticons-30:before {
	content: "\e04e";
}
.icons-emoticons-31:before {
	content: "\e04f";
}
.icons-emoticons-32:before {
	content: "\e050";
}
.icons-emoticons-33:before {
	content: "\e051";
}
.icons-emoticons-34:before {
	content: "\e052";
}
.icons-emoticons-35:before {
	content: "\e053";
}
.icons-emoticons-artboard-80:before {
	content: "\e054";
}
.icons-faces-users-01:before {
	content: "\e055";
}
.icons-faces-users-02:before {
	content: "\e056";
}
.icons-faces-users-03:before {
	content: "\e057";
}
.icons-faces-users-04:before {
	content: "\e058";
}
.icons-faces-users-05:before {
	content: "\e059";
}
.icons-faces-users-06:before {
	content: "\e05a";
}
.icons-faces-users-07:before {
	content: "\e05b";
}
.icons-filetypes-01:before {
	content: "\e05c";
}
.icons-filetypes-02:before {
	content: "\e05d";
}
.icons-filetypes-03:before {
	content: "\e05e";
}
.icons-filetypes-04:before {
	content: "\e05f";
}
.icons-filetypes-05:before {
	content: "\e060";
}
.icons-filetypes-06:before {
	content: "\e061";
}
.icons-filetypes-07:before {
	content: "\e062";
}
.icons-filetypes-08:before {
	content: "\e063";
}
.icons-filetypes-09:before {
	content: "\e064";
}
.icons-filetypes-10:before {
	content: "\e065";
}
.icons-filetypes-11:before {
	content: "\e066";
}
.icons-filetypes-12:before {
	content: "\e067";
}
.icons-filetypes-13:before {
	content: "\e068";
}
.icons-filetypes-14:before {
	content: "\e069";
}
.icons-filetypes-15:before {
	content: "\e06a";
}
.icons-filetypes-16:before {
	content: "\e06b";
}
.icons-filetypes-17:before {
	content: "\e06c";
}
.icons-food-01:before {
	content: "\e06d";
}
.icons-food-02:before {
	content: "\e06e";
}
.icons-food-03:before {
	content: "\e06f";
}
.icons-food-04:before {
	content: "\e070";
}
.icons-food-05:before {
	content: "\e071";
}
.icons-food-06:before {
	content: "\e072";
}
.icons-food-07:before {
	content: "\e073";
}
.icons-food-08:before {
	content: "\e074";
}
.icons-food-09:before {
	content: "\e075";
}
.icons-food-10:before {
	content: "\e076";
}
.icons-food-11:before {
	content: "\e077";
}
.icons-food-12:before {
	content: "\e078";
}
.icons-food-13:before {
	content: "\e079";
}
.icons-food-14:before {
	content: "\e07a";
}
.icons-food-15:before {
	content: "\e07b";
}
.icons-food-16:before {
	content: "\e07c";
}
.icons-food-17:before {
	content: "\e07d";
}
.icons-food-18:before {
	content: "\e07e";
}
.icons-graphic-design-01:before {
	content: "\e07f";
}
.icons-graphic-design-02:before {
	content: "\e080";
}
.icons-graphic-design-03:before {
	content: "\e081";
}
.icons-graphic-design-04:before {
	content: "\e082";
}
.icons-graphic-design-05:before {
	content: "\e083";
}
.icons-graphic-design-06:before {
	content: "\e084";
}
.icons-graphic-design-07:before {
	content: "\e085";
}
.icons-graphic-design-08:before {
	content: "\e086";
}
.icons-graphic-design-09:before {
	content: "\e087";
}
.icons-graphic-design-10:before {
	content: "\e088";
}
.icons-graphic-design-11:before {
	content: "\e089";
}
.icons-graphic-design-12:before {
	content: "\e08a";
}
.icons-graphic-design-13:before {
	content: "\e08b";
}
.icons-graphic-design-14:before {
	content: "\e08c";
}
.icons-graphic-design-15:before {
	content: "\e08d";
}
.icons-graphic-design-16:before {
	content: "\e08e";
}
.icons-graphic-design-17:before {
	content: "\e08f";
}
.icons-graphic-design-18:before {
	content: "\e090";
}
.icons-graphic-design-19:before {
	content: "\e091";
}
.icons-graphic-design-20:before {
	content: "\e092";
}
.icons-graphic-design-21:before {
	content: "\e093";
}
.icons-graphic-design-22:before {
	content: "\e094";
}
.icons-graphic-design-23:before {
	content: "\e095";
}
.icons-graphic-design-24:before {
	content: "\e096";
}
.icons-graphic-design-25:before {
	content: "\e097";
}
.icons-graphic-design-26:before {
	content: "\e098";
}
.icons-graphic-design-27:before {
	content: "\e099";
}
.icons-graphic-design-28:before {
	content: "\e09a";
}
.icons-graphic-design-29:before {
	content: "\e09b";
}
.icons-graphic-design-30:before {
	content: "\e09c";
}
.icons-graphic-design-31:before {
	content: "\e09d";
}
.icons-graphic-design-32:before {
	content: "\e09e";
}
.icons-graphic-design-33:before {
	content: "\e09f";
}
.icons-graphic-design-34:before {
	content: "\e0a0";
}
.icons-medical-01:before {
	content: "\e0a1";
}
.icons-medical-02:before {
	content: "\e0a2";
}
.icons-medical-03:before {
	content: "\e0a3";
}
.icons-medical-04:before {
	content: "\e0a4";
}
.icons-medical-05:before {
	content: "\e0a5";
}
.icons-medical-06:before {
	content: "\e0a6";
}
.icons-medical-07:before {
	content: "\e0a7";
}
.icons-medical-08:before {
	content: "\e0a8";
}
.icons-medical-09:before {
	content: "\e0a9";
}
.icons-medical-10:before {
	content: "\e0aa";
}
.icons-medical-11:before {
	content: "\e0ab";
}
.icons-medical-12:before {
	content: "\e0ac";
}
.icons-medical-13:before {
	content: "\e0ad";
}
.icons-medical-14:before {
	content: "\e0ae";
}
.icons-medical-15:before {
	content: "\e0af";
}
.icons-medical-16:before {
	content: "\e0b0";
}
.icons-medical-17:before {
	content: "\e0b1";
}
.icons-medical-18:before {
	content: "\e0b2";
}
.icons-medical-19:before {
	content: "\e0b3";
}
.icons-medical-20:before {
	content: "\e0b4";
}
.icons-medical-21:before {
	content: "\e0b5";
}
.icons-medical-22:before {
	content: "\e0b6";
}
.icons-medical-23:before {
	content: "\e0b7";
}
.icons-medical-24:before {
	content: "\e0b8";
}
.icons-medical-25:before {
	content: "\e0b9";
}
.icons-medical-26:before {
	content: "\e0ba";
}
.icons-medical-27:before {
	content: "\e0bb";
}
.icons-medical-28:before {
	content: "\e0bc";
}
.icons-multimedia-01:before {
	content: "\e0bd";
}
.icons-multimedia-02:before {
	content: "\e0be";
}
.icons-multimedia-03:before {
	content: "\e0bf";
}
.icons-multimedia-04:before {
	content: "\e0c0";
}
.icons-multimedia-05:before {
	content: "\e0c1";
}
.icons-multimedia-06:before {
	content: "\e0c2";
}
.icons-multimedia-07:before {
	content: "\e0c3";
}
.icons-multimedia-08:before {
	content: "\e0c4";
}
.icons-multimedia-09:before {
	content: "\e0c5";
}
.icons-multimedia-10:before {
	content: "\e0c6";
}
.icons-multimedia-11:before {
	content: "\e0c7";
}
.icons-multimedia-12:before {
	content: "\e0c8";
}
.icons-multimedia-13:before {
	content: "\e0c9";
}
.icons-multimedia-14:before {
	content: "\e0ca";
}
.icons-multimedia-15:before {
	content: "\e0cb";
}
.icons-multimedia-16:before {
	content: "\e0cc";
}
.icons-multimedia-17:before {
	content: "\e0cd";
}
.icons-multimedia-18:before {
	content: "\e0ce";
}
.icons-multimedia-19:before {
	content: "\e0cf";
}
.icons-multimedia-20:before {
	content: "\e0d0";
}
.icons-multimedia-21:before {
	content: "\e0d1";
}
.icons-multimedia-22:before {
	content: "\e0d2";
}
.icons-multimedia-23:before {
	content: "\e0d3";
}
.icons-multimedia-24:before {
	content: "\e0d4";
}
.icons-multimedia-25:before {
	content: "\e0d5";
}
.icons-multimedia-26:before {
	content: "\e0d6";
}
.icons-multimedia-27:before {
	content: "\e0d7";
}
.icons-multimedia-28:before {
	content: "\e0d8";
}
.icons-multimedia-29:before {
	content: "\e0d9";
}
.icons-multimedia-30:before {
	content: "\e0da";
}
.icons-multimedia-31:before {
	content: "\e0db";
}
.icons-multimedia-32:before {
	content: "\e0dc";
}
.icons-multimedia-33:before {
	content: "\e0dd";
}
.icons-multimedia-34:before {
	content: "\e0de";
}
.icons-multimedia-35:before {
	content: "\e0df";
}
.icons-multimedia-36:before {
	content: "\e0e0";
}
.icons-multimedia-37:before {
	content: "\e0e1";
}
.icons-multimedia-38:before {
	content: "\e0e2";
}
.icons-multimedia-39:before {
	content: "\e0e3";
}
.icons-multimedia-40:before {
	content: "\e0e4";
}
.icons-nature-01:before {
	content: "\e0e5";
}
.icons-nature-02:before {
	content: "\e0e6";
}
.icons-nature-03:before {
	content: "\e0e7";
}
.icons-nature-04:before {
	content: "\e0e8";
}
.icons-nature-05:before {
	content: "\e0e9";
}
.icons-nature-06:before {
	content: "\e0ea";
}
.icons-nature-07:before {
	content: "\e0eb";
}
.icons-nature-08:before {
	content: "\e0ec";
}
.icons-nature-09:before {
	content: "\e0ed";
}
.icons-nature-10:before {
	content: "\e0ee";
}
.icons-nature-11:before {
	content: "\e0ef";
}
.icons-nature-12:before {
	content: "\e0f0";
}
.icons-nature-13:before {
	content: "\e0f1";
}
.icons-nature-14:before {
	content: "\e0f2";
}
.icons-office-01:before {
	content: "\e0f3";
}
.icons-office-01:before {
	content: "\e0f3";
}
.icons-shopping-15:before {
	content: "\e183";
}
.icons-shopping-16:before {
	content: "\e184";
}
.icons-shopping-17:before {
	content: "\e185";
}
.icons-shopping-18:before {
	content: "\e186";
}
.icons-shopping-19:before {
	content: "\e187";
}
.icons-shopping-20:before {
	content: "\e188";
}
.icons-shopping-21:before {
	content: "\e189";
}
.icons-shopping-22:before {
	content: "\e18a";
}
.icons-shopping-23:before {
	content: "\e18b";
}
.icons-shopping-24:before {
	content: "\e18c";
}
.icons-shopping-25:before {
	content: "\e18d";
}
.icons-shopping-26:before {
	content: "\e18e";
}
.icons-shopping-27:before {
	content: "\e18f";
}
.icons-socialmedia-01:before {
	content: "\e190";
}
.icons-socialmedia-02:before {
	content: "\e191";
}
.icons-socialmedia-03:before {
	content: "\e192";
}
.icons-socialmedia-04:before {
	content: "\e193";
}
.icons-socialmedia-05:before {
	content: "\e194";
}
.icons-socialmedia-06:before {
	content: "\e195";
}
.icons-socialmedia-07:before {
	content: "\e196";
}
.icons-socialmedia-08:before {
	content: "\e197";
}
.icons-socialmedia-09:before {
	content: "\e198";
}
.icons-socialmedia-10:before {
	content: "\e199";
}
.icons-socialmedia-11:before {
	content: "\e19a";
}
.icons-socialmedia-12:before {
	content: "\e19b";
}
.icons-socialmedia-13:before {
	content: "\e19c";
}
.icons-socialmedia-14:before {
	content: "\e19d";
}
.icons-socialmedia-15:before {
	content: "\e19e";
}
.icons-socialmedia-16:before {
	content: "\e19f";
}
.icons-socialmedia-17:before {
	content: "\e1a0";
}
.icons-socialmedia-18:before {
	content: "\e1a1";
}
.icons-socialmedia-19:before {
	content: "\e1a2";
}
.icons-socialmedia-20:before {
	content: "\e1a3";
}
.icons-socialmedia-21:before {
	content: "\e1a4";
}
.icons-socialmedia-22:before {
	content: "\e1a5";
}
.icons-socialmedia-23:before {
	content: "\e1a6";
}
.icons-socialmedia-24:before {
	content: "\e1a7";
}
.icons-socialmedia-25:before {
	content: "\e1a8";
}
.icons-socialmedia-26:before {
	content: "\e1a9";
}
.icons-socialmedia-27:before {
	content: "\e1aa";
}
.icons-socialmedia-28:before {
	content: "\e1ab";
}
.icons-socialmedia-29:before {
	content: "\e1ac";
}
.icons-sport-01:before {
	content: "\e1ad";
}
.icons-sport-02:before {
	content: "\e1ae";
}
.icons-sport-03:before {
	content: "\e1af";
}
.icons-sport-04:before {
	content: "\e1b0";
}
.icons-sport-05:before {
	content: "\e1b1";
}
.icons-sport-06:before {
	content: "\e1b2";
}
.icons-sport-07:before {
	content: "\e1b3";
}
.icons-sport-08:before {
	content: "\e1b4";
}
.icons-sport-09:before {
	content: "\e1b5";
}
.icons-sport-10:before {
	content: "\e1b6";
}
.icons-sport-11:before {
	content: "\e1b7";
}
.icons-sport-12:before {
	content: "\e1b8";
}
.icons-sport-13:before {
	content: "\e1b9";
}
.icons-sport-14:before {
	content: "\e1ba";
}
.icons-sport-15:before {
	content: "\e1bb";
}
.icons-sport-16:before {
	content: "\e1bc";
}
.icons-sport-17:before {
	content: "\e1bd";
}
.icons-sport-18:before {
	content: "\e1be";
}
.icons-text-hierarchy-01:before {
	content: "\e1bf";
}
.icons-text-hierarchy-02:before {
	content: "\e1c0";
}
.icons-text-hierarchy-03:before {
	content: "\e1c1";
}
.icons-text-hierarchy-04:before {
	content: "\e1c2";
}
.icons-text-hierarchy-05:before {
	content: "\e1c3";
}
.icons-text-hierarchy-06:before {
	content: "\e1c4";
}
.icons-text-hierarchy-07:before {
	content: "\e1c5";
}
.icons-text-hierarchy-08:before {
	content: "\e1c6";
}
.icons-text-hierarchy-09:before {
	content: "\e1c7";
}
.icons-text-hierarchy-10:before {
	content: "\e1c8";
}
.icons-touch-gestures-01:before {
	content: "\e1c9";
}
.icons-touch-gestures-02:before {
	content: "\e1ca";
}
.icons-touch-gestures-03:before {
	content: "\e1cb";
}
.icons-touch-gestures-04:before {
	content: "\e1cc";
}
.icons-touch-gestures-05:before {
	content: "\e1cd";
}
.icons-touch-gestures-06:before {
	content: "\e1ce";
}
.icons-touch-gestures-07:before {
	content: "\e1cf";
}
.icons-touch-gestures-08:before {
	content: "\e1d0";
}
.icons-touch-gestures-09:before {
	content: "\e1d1";
}
.icons-touch-gestures-10:before {
	content: "\e1d2";
}
.icons-touch-gestures-11:before {
	content: "\e1d3";
}
.icons-touch-gestures-12:before {
	content: "\e1d4";
}
.icons-touch-gestures-13:before {
	content: "\e1d5";
}
.icons-touch-gestures-14:before {
	content: "\e1d6";
}
.icons-touch-gestures-15:before {
	content: "\e1d7";
}
.icons-touch-gestures-16:before {
	content: "\e1d8";
}
.icons-touch-gestures-17:before {
	content: "\e1d9";
}
.icons-touch-gestures-18:before {
	content: "\e1da";
}
.icons-touch-gestures-19:before {
	content: "\e1db";
}
.icons-touch-gestures-20:before {
	content: "\e1dc";
}
.icons-touch-gestures-21:before {
	content: "\e1dd";
}
.icons-touch-gestures-22:before {
	content: "\e1de";
}
.icons-touch-gestures-23:before {
	content: "\e1df";
}
.icons-touch-gestures-24:before {
	content: "\e1e0";
}
.icons-travel-transportation-01:before {
	content: "\e1e1";
}
.icons-travel-transportation-02:before {
	content: "\e1e2";
}
.icons-travel-transportation-03:before {
	content: "\e1e3";
}
.icons-travel-transportation-04:before {
	content: "\e1e4";
}
.icons-travel-transportation-05:before {
	content: "\e1e5";
}
.icons-travel-transportation-06:before {
	content: "\e1e6";
}
.icons-travel-transportation-07:before {
	content: "\e1e7";
}
.icons-travel-transportation-08:before {
	content: "\e1e8";
}
.icons-travel-transportation-09:before {
	content: "\e1e9";
}
.icons-travel-transportation-10:before {
	content: "\e1ea";
}
.icons-travel-transportation-11:before {
	content: "\e1eb";
}
.icons-travel-transportation-12:before {
	content: "\e1ec";
}
.icons-travel-transportation-13:before {
	content: "\e1ed";
}
.icons-travel-transportation-14:before {
	content: "\e1ee";
}
.icons-travel-transportation-15:before {
	content: "\e1ef";
}
.icons-travel-transportation-16:before {
	content: "\e1f0";
}
.icons-travel-transportation-17:before {
	content: "\e1f1";
}
.icons-travel-transportation-18:before {
	content: "\e1f2";
}
.icons-travel-transportation-19:before {
	content: "\e1f3";
}
.icons-travel-transportation-20:before {
	content: "\e1f4";
}
.icons-weather-01:before {
	content: "\e1f5";
}
.icons-weather-02:before {
	content: "\e1f6";
}
.icons-weather-03:before {
	content: "\e1f7";
}
.icons-weather-04:before {
	content: "\e1f8";
}
.icons-weather-05:before {
	content: "\e1f9";
}
.icons-weather-06:before {
	content: "\e1fa";
}
.icons-weather-07:before {
	content: "\e1fb";
}
.icons-weather-08:before {
	content: "\e1fc";
}
.icons-weather-09:before {
	content: "\e1fd";
}
.icons-weather-10:before {
	content: "\e1fe";
}
.icons-weather-11:before {
	content: "\e1ff";
}
.icons-weather-12:before {
	content: "\e200";
}
.icons-weather-13:before {
	content: "\e201";
}
.icons-weather-14:before {
	content: "\e202";
}
.icons-office-02:before {
	content: "\e0f4";
}
.icons-office-03:before {
	content: "\e0f5";
}
.icons-office-04:before {
	content: "\e0f6";
}
.icons-office-05:before {
	content: "\e0f7";
}
.icons-office-06:before {
	content: "\e0f8";
}
.icons-office-07:before {
	content: "\e0f9";
}
.icons-office-08:before {
	content: "\e0fa";
}
.icons-office-09:before {
	content: "\e0fb";
}
.icons-office-10:before {
	content: "\e0fc";
}
.icons-office-11:before {
	content: "\e0fd";
}
.icons-office-12:before {
	content: "\e0fe";
}
.icons-office-13:before {
	content: "\e0ff";
}
.icons-office-14:before {
	content: "\e100";
}
.icons-office-15:before {
	content: "\e101";
}
.icons-office-16:before {
	content: "\e102";
}
.icons-office-17:before {
	content: "\e103";
}
.icons-office-18:before {
	content: "\e104";
}
.icons-office-19:before {
	content: "\e105";
}
.icons-office-20:before {
	content: "\e106";
}
.icons-office-21:before {
	content: "\e107";
}
.icons-office-22:before {
	content: "\e108";
}
.icons-office-23:before {
	content: "\e109";
}
.icons-office-24:before {
	content: "\e10a";
}
.icons-office-25:before {
	content: "\e10b";
}
.icons-office-26:before {
	content: "\e10c";
}
.icons-office-27:before {
	content: "\e10d";
}
.icons-office-28:before {
	content: "\e10e";
}
.icons-office-29:before {
	content: "\e10f";
}
.icons-office-30:before {
	content: "\e110";
}
.icons-office-31:before {
	content: "\e111";
}
.icons-office-32:before {
	content: "\e112";
}
.icons-office-33:before {
	content: "\e113";
}
.icons-office-34:before {
	content: "\e114";
}
.icons-office-35:before {
	content: "\e115";
}
.icons-office-36:before {
	content: "\e116";
}
.icons-office-37:before {
	content: "\e117";
}
.icons-office-38:before {
	content: "\e118";
}
.icons-office-39:before {
	content: "\e119";
}
.icons-office-40:before {
	content: "\e11a";
}
.icons-office-41:before {
	content: "\e11b";
}
.icons-office-42:before {
	content: "\e11c";
}
.icons-office-43:before {
	content: "\e11d";
}
.icons-office-44:before {
	content: "\e11e";
}
.icons-office-45:before {
	content: "\e11f";
}
.icons-office-46:before {
	content: "\e120";
}
.icons-office-47:before {
	content: "\e121";
}
.icons-office-48:before {
	content: "\e122";
}
.icons-office-49:before {
	content: "\e123";
}
.icons-office-50:before {
	content: "\e124";
}
.icons-office-51:before {
	content: "\e125";
}
.icons-office-52:before {
	content: "\e126";
}
.icons-office-53:before {
	content: "\e127";
}
.icons-office-54:before {
	content: "\e128";
}
.icons-office-55:before {
	content: "\e129";
}
.icons-office-56:before {
	content: "\e12a";
}
.icons-office-57:before {
	content: "\e12b";
}
.icons-office-58:before {
	content: "\e12c";
}
.icons-office-59:before {
	content: "\e12d";
}
.icons-office-60:before {
	content: "\e12e";
}
.icons-office-61:before {
	content: "\e12f";
}
.icons-party-01:before {
	content: "\e130";
}
.icons-party-02:before {
	content: "\e131";
}
.icons-party-03:before {
	content: "\e132";
}
.icons-party-04:before {
	content: "\e133";
}
.icons-party-05:before {
	content: "\e134";
}
.icons-party-06:before {
	content: "\e135";
}
.icons-party-07:before {
	content: "\e136";
}
.icons-party-08:before {
	content: "\e137";
}
.icons-party-09:before {
	content: "\e138";
}
.icons-party-10:before {
	content: "\e139";
}
.icons-party-11:before {
	content: "\e13a";
}
.icons-realestate-living-01:before {
	content: "\e13b";
}
.icons-realestate-living-02:before {
	content: "\e13c";
}
.icons-realestate-living-03:before {
	content: "\e13d";
}
.icons-realestate-living-04:before {
	content: "\e13e";
}
.icons-realestate-living-05:before {
	content: "\e13f";
}
.icons-realestate-living-06:before {
	content: "\e140";
}
.icons-realestate-living-07:before {
	content: "\e141";
}
.icons-realestate-living-08:before {
	content: "\e142";
}
.icons-realestate-living-09:before {
	content: "\e143";
}
.icons-realestate-living-10:before {
	content: "\e144";
}
.icons-realestate-living-11:before {
	content: "\e145";
}
.icons-realestate-living-12:before {
	content: "\e146";
}
.icons-realestate-living-13:before {
	content: "\e147";
}
.icons-realestate-living-14:before {
	content: "\e148";
}
.icons-realestate-living-15:before {
	content: "\e149";
}
.icons-realestate-living-16:before {
	content: "\e14a";
}
.icons-seo-icons-01:before {
	content: "\e14b";
}
.icons-seo-icons-02:before {
	content: "\e14c";
}
.icons-seo-icons-03:before {
	content: "\e14d";
}
.icons-seo-icons-04:before {
	content: "\e14e";
}
.icons-seo-icons-05:before {
	content: "\e14f";
}
.icons-seo-icons-06:before {
	content: "\e150";
}
.icons-seo-icons-07:before {
	content: "\e151";
}
.icons-seo-icons-08:before {
	content: "\e152";
}
.icons-seo-icons-09:before {
	content: "\e153";
}
.icons-seo-icons-10:before {
	content: "\e154";
}
.icons-seo-icons-11:before {
	content: "\e155";
}
.icons-seo-icons-12:before {
	content: "\e156";
}
.icons-seo-icons-13:before {
	content: "\e157";
}
.icons-seo-icons-14:before {
	content: "\e158";
}
.icons-seo-icons-15:before {
	content: "\e159";
}
.icons-seo-icons-16:before {
	content: "\e15a";
}
.icons-seo-icons-17:before {
	content: "\e15b";
}
.icons-seo-icons-18:before {
	content: "\e15c";
}
.icons-seo-icons-19:before {
	content: "\e15d";
}
.icons-seo-icons-20:before {
	content: "\e15e";
}
.icons-seo-icons-21:before {
	content: "\e15f";
}
.icons-seo-icons-22:before {
	content: "\e160";
}
.icons-seo-icons-23:before {
	content: "\e161";
}
.icons-seo-icons-24:before {
	content: "\e162";
}
.icons-seo-icons-25:before {
	content: "\e163";
}
.icons-seo-icons-26:before {
	content: "\e164";
}
.icons-seo-icons-27:before {
	content: "\e165";
}
.icons-seo-icons-28:before {
	content: "\e166";
}
.icons-seo-icons-29:before {
	content: "\e167";
}
.icons-seo-icons-30:before {
	content: "\e168";
}
.icons-seo-icons-31:before {
	content: "\e169";
}
.icons-seo-icons-32:before {
	content: "\e16a";
}
.icons-seo-icons-33:before {
	content: "\e16b";
}
.icons-seo-icons-34:before {
	content: "\e16c";
}
.icons-seo-icons-35:before {
	content: "\e16d";
}
.icons-seo-icons-36:before {
	content: "\e16e";
}
.icons-seo-icons-37:before {
	content: "\e16f";
}
.icons-seo-icons-38:before {
	content: "\e170";
}
.icons-seo-icons-39:before {
	content: "\e171";
}
.icons-seo-icons-40:before {
	content: "\e172";
}
.icons-seo-icons-41:before {
	content: "\e173";
}
.icons-seo-icons-42:before {
	content: "\e174";
}
.icons-shopping-01:before {
	content: "\e175";
}
.icons-shopping-02:before {
	content: "\e176";
}
.icons-shopping-03:before {
	content: "\e177";
}
.icons-shopping-04:before {
	content: "\e178";
}
.icons-shopping-05:before {
	content: "\e179";
}
.icons-shopping-06:before {
	content: "\e17a";
}
.icons-shopping-07:before {
	content: "\e17b";
}
.icons-shopping-08:before {
	content: "\e17c";
}
.icons-shopping-09:before {
	content: "\e17d";
}
.icons-shopping-10:before {
	content: "\e17e";
}
.icons-shopping-11:before {
	content: "\e17f";
}
.icons-shopping-12:before {
	content: "\e180";
}
.icons-shopping-13:before {
	content: "\e181";
}
.icons-shopping-14:before {
	content: "\e182";
}
@font-face {
	font-family: 'Simple-Line-Icons';
	src: url('../fonts/Simple-Line-Icons.eot');
	src: url('../fonts/Simple-Line-Icons.eot?#iefix') format('embedded-opentype'),  url('../fonts/Simple-Line-Icons.woff') format('woff'),  url('../fonts/Simple-Line-Icons.ttf') format('truetype'),  url('../fonts/Simple-Line-Icons.svg#Simple-Line-Icons') format('svg');
	font-weight: normal;
	font-style: normal;
}
[data-icon]:before {
	font-family: 'Simple-Line-Icons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-user-female, .icon-user-follow, .icon-user-following, .icon-user-unfollow, .icon-trophy, .icon-screen-smartphone, .icon-screen-desktop, .icon-plane, .icon-notebook, .icon-moustache, .icon-mouse, .icon-magnet, .icon-energy, .icon-emoticon-smile, .icon-disc, .icon-cursor-move, .icon-crop, .icon-credit-card, .icon-chemistry, .icon-user, .icon-speedometer, .icon-social-youtube, .icon-social-twitter, .icon-social-tumblr, .icon-social-facebook, .icon-social-dropbox, .icon-social-dribbble, .icon-shield, .icon-screen-tablet, .icon-magic-wand, .icon-hourglass, .icon-graduation, .icon-ghost, .icon-game-controller, .icon-fire, .icon-eyeglasses, .icon-envelope-open, .icon-envelope-letter, .icon-bell, .icon-badge, .icon-anchor, .icon-wallet, .icon-vector, .icon-speech, .icon-puzzle, .icon-printer, .icon-present, .icon-playlist, .icon-pin, .icon-picture, .icon-map, .icon-layers, .icon-handbag, .icon-globe-alt, .icon-globe, .icon-frame, .icon-folder-alt, .icon-film, .icon-feed, .icon-earphones-alt, .icon-earphones, .icon-drop, .icon-drawer, .icon-docs, .icon-directions, .icon-direction, .icon-diamond, .icon-cup, .icon-compass, .icon-call-out, .icon-call-in, .icon-call-end, .icon-calculator, .icon-bubbles, .icon-briefcase, .icon-book-open, .icon-basket-loaded, .icon-basket, .icon-bag, .icon-action-undo, .icon-action-redo, .icon-wrench, .icon-umbrella, .icon-trash, .icon-tag, .icon-support, .icon-size-fullscreen, .icon-size-actual, .icon-shuffle, .icon-share-alt, .icon-share, .icon-rocket, .icon-question, .icon-pie-chart, .icon-pencil, .icon-note, .icon-music-tone-alt, .icon-music-tone, .icon-microphone, .icon-loop, .icon-logout, .icon-login, .icon-list, .icon-like, .icon-home, .icon-grid, .icon-graph, .icon-equalizer, .icon-dislike, .icon-cursor, .icon-control-start, .icon-control-rewind, .icon-control-play, .icon-control-pause, .icon-control-forward, .icon-control-end, .icon-calendar, .icon-bulb, .icon-bar-chart, .icon-arrow-up, .icon-arrow-right, .icon-arrow-left, .icon-arrow-down, .icon-ban, .icon-bubble, .icon-camcorder, .icon-camera, .icon-check, .icon-clock, .icon-close, .icon-cloud-download, .icon-cloud-upload, .icon-doc, .icon-envelope, .icon-eye, .icon-flag, .icon-folder, .icon-heart, .icon-info, .icon-key, .icon-link, .icon-lock, .icon-lock-open, .icon-magnifier, .icon-magnifier-add, .icon-magnifier-remove, .icon-paper-clip, .icon-paper-plane, .icon-plus, .icon-pointer, .icon-power, .icon-refresh, .icon-reload, .icon-settings, .icon-star, .icon-symbol-female, .icon-symbol-male, .icon-target, .icon-volume-1, .icon-volume-2, .icon-volume-off, .icon-users {
	font-family: 'Simple-Line-Icons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-user-female:before {
	content: "\e000";
}
.icon-user-follow:before {
	content: "\e002";
}
.icon-user-following:before {
	content: "\e003";
}
.icon-user-unfollow:before {
	content: "\e004";
}
.icon-trophy:before {
	content: "\e006";
}
.icon-screen-smartphone:before {
	content: "\e010";
}
.icon-screen-desktop:before {
	content: "\e011";
}
.icon-plane:before {
	content: "\e012";
}
.icon-notebook:before {
	content: "\e013";
}
.icon-moustache:before {
	content: "\e014";
}
.icon-mouse:before {
	content: "\e015";
}
.icon-magnet:before {
	content: "\e016";
}
.icon-energy:before {
	content: "\e020";
}
.icon-emoticon-smile:before {
	content: "\e021";
}
.icon-disc:before {
	content: "\e022";
}
.icon-cursor-move:before {
	content: "\e023";
}
.icon-crop:before {
	content: "\e024";
}
.icon-credit-card:before {
	content: "\e025";
}
.icon-chemistry:before {
	content: "\e026";
}
.icon-user:before {
	content: "\e005";
}
.icon-speedometer:before {
	content: "\e007";
}
.icon-social-youtube:before {
	content: "\e008";
}
.icon-social-twitter:before {
	content: "\e009";
}
.icon-social-tumblr:before {
	content: "\e00a";
}
.icon-social-facebook:before {
	content: "\e00b";
}
.icon-social-dropbox:before {
	content: "\e00c";
}
.icon-social-dribbble:before {
	content: "\e00d";
}
.icon-shield:before {
	content: "\e00e";
}
.icon-screen-tablet:before {
	content: "\e00f";
}
.icon-magic-wand:before {
	content: "\e017";
}
.icon-hourglass:before {
	content: "\e018";
}
.icon-graduation:before {
	content: "\e019";
}
.icon-ghost:before {
	content: "\e01a";
}
.icon-game-controller:before {
	content: "\e01b";
}
.icon-fire:before {
	content: "\e01c";
}
.icon-eyeglasses:before {
	content: "\e01d";
}
.icon-envelope-open:before {
	content: "\e01e";
}
.icon-envelope-letter:before {
	content: "\e01f";
}
.icon-bell:before {
	content: "\e027";
}
.icon-badge:before {
	content: "\e028";
}
.icon-anchor:before {
	content: "\e029";
}
.icon-wallet:before {
	content: "\e02a";
}
.icon-vector:before {
	content: "\e02b";
}
.icon-speech:before {
	content: "\e02c";
}
.icon-puzzle:before {
	content: "\e02d";
}
.icon-printer:before {
	content: "\e02e";
}
.icon-present:before {
	content: "\e02f";
}
.icon-playlist:before {
	content: "\e030";
}
.icon-pin:before {
	content: "\e031";
}
.icon-picture:before {
	content: "\e032";
}
.icon-map:before {
	content: "\e033";
}
.icon-layers:before {
	content: "\e034";
}
.icon-handbag:before {
	content: "\e035";
}
.icon-globe-alt:before {
	content: "\e036";
}
.icon-globe:before {
	content: "\e037";
}
.icon-frame:before {
	content: "\e038";
}
.icon-folder-alt:before {
	content: "\e039";
}
.icon-film:before {
	content: "\e03a";
}
.icon-feed:before {
	content: "\e03b";
}
.icon-earphones-alt:before {
	content: "\e03c";
}
.icon-earphones:before {
	content: "\e03d";
}
.icon-drop:before {
	content: "\e03e";
}
.icon-drawer:before {
	content: "\e03f";
}
.icon-docs:before {
	content: "\e040";
}
.icon-directions:before {
	content: "\e041";
}
.icon-direction:before {
	content: "\e042";
}
.icon-diamond:before {
	content: "\e043";
}
.icon-cup:before {
	content: "\e044";
}
.icon-compass:before {
	content: "\e045";
}
.icon-call-out:before {
	content: "\e046";
}
.icon-call-in:before {
	content: "\e047";
}
.icon-call-end:before {
	content: "\e048";
}
.icon-calculator:before {
	content: "\e049";
}
.icon-bubbles:before {
	content: "\e04a";
}
.icon-briefcase:before {
	content: "\e04b";
}
.icon-book-open:before {
	content: "\e04c";
}
.icon-basket-loaded:before {
	content: "\e04d";
}
.icon-basket:before {
	content: "\e04e";
}
.icon-bag:before {
	content: "\e04f";
}
.icon-action-undo:before {
	content: "\e050";
}
.icon-action-redo:before {
	content: "\e051";
}
.icon-wrench:before {
	content: "\e052";
}
.icon-umbrella:before {
	content: "\e053";
}
.icon-trash:before {
	content: "\e054";
}
.icon-tag:before {
	content: "\e055";
}
.icon-support:before {
	content: "\e056";
}
.icon-size-fullscreen:before {
	content: "\e057";
}
.icon-size-actual:before {
	content: "\e058";
}
.icon-shuffle:before {
	content: "\e059";
}
.icon-share-alt:before {
	content: "\e05a";
}
.icon-share:before {
	content: "\e05b";
}
.icon-rocket:before {
	content: "\e05c";
}
.icon-question:before {
	content: "\e05d";
}
.icon-pie-chart:before {
	content: "\e05e";
}
.icon-pencil:before {
	content: "\e05f";
}
.icon-note:before {
	content: "\e060";
}
.icon-music-tone-alt:before {
	content: "\e061";
}
.icon-music-tone:before {
	content: "\e062";
}
.icon-microphone:before {
	content: "\e063";
}
.icon-loop:before {
	content: "\e064";
}
.icon-logout:before {
	content: "\e065";
}
.icon-login:before {
	content: "\e066";
}
.icon-list:before {
	content: "\e067";
}
.icon-like:before {
	content: "\e068";
}
.icon-home:before {
	content: "\e069";
}
.icon-grid:before {
	content: "\e06a";
}
.icon-graph:before {
	content: "\e06b";
}
.icon-equalizer:before {
	content: "\e06c";
}
.icon-dislike:before {
	content: "\e06d";
}
.icon-cursor:before {
	content: "\e06e";
}
.icon-control-start:before {
	content: "\e06f";
}
.icon-control-rewind:before {
	content: "\e070";
}
.icon-control-play:before {
	content: "\e071";
}
.icon-control-pause:before {
	content: "\e072";
}
.icon-control-forward:before {
	content: "\e073";
}
.icon-control-end:before {
	content: "\e074";
}
.icon-calendar:before {
	content: "\e075";
}
.icon-bulb:before {
	content: "\e076";
}
.icon-bar-chart:before {
	content: "\e077";
}
.icon-arrow-up:before {
	content: "\e078";
}
.icon-arrow-right:before {
	content: "\e079";
}
.icon-arrow-left:before {
	content: "\e07a";
}
.icon-arrow-down:before {
	content: "\e07b";
}
.icon-ban:before {
	content: "\e07c";
}
.icon-bubble:before {
	content: "\e07d";
}
.icon-camcorder:before {
	content: "\e07e";
}
.icon-camera:before {
	content: "\e07f";
}
.icon-check:before {
	content: "\e080";
}
.icon-clock:before {
	content: "\e081";
}
.icon-close:before {
	content: "\e082";
}
.icon-cloud-download:before {
	content: "\e083";
}
.icon-cloud-upload:before {
	content: "\e084";
}
.icon-doc:before {
	content: "\e085";
}
.icon-envelope:before {
	content: "\e086";
}
.icon-eye:before {
	content: "\e087";
}
.icon-flag:before {
	content: "\e088";
}
.icon-folder:before {
	content: "\e089";
}
.icon-heart:before {
	content: "\e08a";
}
.icon-info:before {
	content: "\e08b";
}
.icon-key:before {
	content: "\e08c";
}
.icon-link:before {
	content: "\e08d";
}
.icon-lock:before {
	content: "\e08e";
}
.icon-lock-open:before {
	content: "\e08f";
}
.icon-magnifier:before {
	content: "\e090";
}
.icon-magnifier-add:before {
	content: "\e091";
}
.icon-magnifier-remove:before {
	content: "\e092";
}
.icon-paper-clip:before {
	content: "\e093";
}
.icon-paper-plane:before {
	content: "\e094";
}
.icon-plus:before {
	content: "\e095";
}
.icon-pointer:before {
	content: "\e096";
}
.icon-power:before {
	content: "\e097";
}
.icon-refresh:before {
	content: "\e098";
}
.icon-reload:before {
	content: "\e099";
}
.icon-settings:before {
	content: "\e09a";
}
.icon-star:before {
	content: "\e09b";
}
.icon-symbol-female:before {
	content: "\e09c";
}
.icon-symbol-male:before {
	content: "\e09d";
}
.icon-target:before {
	content: "\e09e";
}
.icon-volume-1:before {
	content: "\e09f";
}
.icon-volume-2:before {
	content: "\e0a0";
}
.icon-volume-off:before {
	content: "\e0a1";
}
.icon-users:before {
	content: "\e001";
}
