.menu {
	margin:0;	
}
.menu .pageWidth {
	position: relative;
}

.menu nav li {
	float: left;
	list-style: none;
	padding: 0;
	margin: 0 22px;
}
.menu nav li:first-child{
	margin-left:0;
}
.menu nav li a {
	font: normal 14px/16px 'calibri', sans-serif;
	color: #FFF;
	letter-spacing: 0;
	padding: 11px 0;
	display: block;
	position: relative;
	text-transform: uppercase;
}
.menu nav li a i {
	color: #FFF;
	margin-left: 5px;
	font-size: 15px;
}
.menu nav li.home {
	display: none;
	background: none;
}
.menu nav li:hover a, .menu nav li.active a {
}
.menu nav li a.active {
}
.menu nav li a:before {
	content: "";
	position: absolute;
	width: 100%;
	margin: 0;
	height: 2px;
	top: 0;
	left: 0;
	background-color: #197e00;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	-moz-transform: scaleX(0);
	-o-transform: scaleX(0);
	transform: scaleX(0);
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}
.menu nav li:hover a:before, .menu nav li a.active:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
.menu li {
	position: relative;
	z-index: 99;
}
.menu nav ul ul {
	display: none;
	left: 0;
	padding: 2px 0 0;
	position: absolute;
	top: 38px;
	width: 230px;
	margin-left: 0;
	background: #53B93A;
}
.menu nav ul li:hover ul {
	display: block;
}
.menu nav ul ul ul.submenu2 {
	display: none !important;
	top: 0;
	left: 100%;
}
.menu nav ul ul.submenu li:hover ul.submenu2 {
	display: block !important;
}
.menu nav ul ul.submenu li {
	padding: 0;
	display: block;
	width: 100%;
	float: left;
	margin: 0;
	border-bottom: 1px solid rgba(255,255,255,0.15);
}
.menu nav ul ul.submenu li:last-child {
	border-bottom: 0;
}

.menu nav ul ul.submenu li:hover{
	background:#46a82d;
}

.menu ul ul li a {
	display: block;
	padding: 10px 12px;
}
.menu nav ul.submenu li a:before {
	height: 0;
}

/* when under viewport size, .mean-container is added to body */
.mean-container .mean-bar {
	float: left;
	width: 100%;
	position: absolute;
	padding: 4px 0;
	min-height: 32px;
	z-index: inherit;
}
.mean-container a.meanmenu-reveal {
	width: 20px;
	height: 20px;
	padding: 10px;
	position: absolute;
	top: 0;
	left: 0 !important;
	cursor: pointer;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	text-indent: -9999em;
	line-height: 22px;
	font-size: 1px;
	display: block;
	font-family: 'Daxline-Regular', sans-serif;
	font-weight: normal;
	border-radius: 3px;
	margin: 0 10px;
	z-index:999;
}
.mean-container a.meanmenu-reveal span {
	display: block;
	background: #fff;
	height: 3px;
	margin-top: 3px;
}
.mean-container .mean-nav {
	float: left;
	width: 100%;
	background: #6dcc56;
	margin-top: 36px;
	position:relative;
	z-index:2;
}
.mean-container .mean-nav ul {
	padding: 0;
	margin: 0;
	width: 100%;
	list-style-type: none;
}
.mean-container .mean-nav ul li {
	position: relative;
	float: left;
	width: 100%;
}
.mean-container .mean-nav ul li a {
	display: block;
	float: left;
	width: 96%;
	padding: 1em 2%;
	margin: 0;
	text-align: left;
	color: #fff;
	border-top: 1px solid #FFF;
	border-top: 1px solid rgba(255,255,255,0.3);
	text-decoration: none;
	font: normal 12px/16px 'Daxline-Regular', sans-serif;
	letter-spacing: 0;
	text-transform: uppercase;
}
.mean-container .mean-nav ul li li a {
	width: 90%;
	padding: 1em 5%;
	border-top: 1px solid #f1f1f1;
	border-top: 1px solid rgba(255,255,255,0.25);
	opacity: 0.75;
	text-shadow: none !important;
	visibility: visible;
}
.mean-container .mean-nav ul li.mean-last a {
	border-bottom: none;
	margin-bottom: 0;
}
.mean-container .mean-nav ul li li li a {
	width: 70%;
	padding: 1em 15%;
}
.mean-container .mean-nav ul li li li li a {
	width: 60%;
	padding: 1em 20%;
}
.mean-container .mean-nav ul li li li li li a {
	width: 50%;
	padding: 1em 25%;
}
.mean-container .mean-nav ul li a:hover, .mean-container .mean-nav ul li a.active {
	background: #252525;
	background: rgba(255,255,255,0.1);
}
.mean-container .mean-nav ul li a.mean-expand {
	margin-top: 1px;
	width: 20px;
	height: 20px;
	padding: 10px !important;
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
	font-weight: 700;
	line-height: 22px;
	background: rgba(255,255,255,0.1);
	border: none !important;
	border-left: 1px solid rgba(255,255,255,0.4) !important;
	border-bottom: 1px solid rgba(255,255,255,0.2) !important;
}
.mean-container .mean-nav ul li a.mean-expand:hover {
	background: #333;
}
.mean-container .mean-push {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
	clear: both;
}
.mean-nav .wrapper {
	width: 100%;
	padding: 0;
	margin: 0;
}
/* Fix for box sizing on Foundation Framework etc. */
.mean-container .mean-bar, .mean-container .mean-bar * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.mean-remove {
	display: none !important;
}
#SecondMenu {
	position: relative;
	display: none;
}
#SecondMenu .mean-bar {
	background: #333;
	margin: 5px 0 0;
	padding: 0;
	padding-top: 4px;
}
.MenuHeading {
	color: #FFFFFF;
	font-weight: bold;
	left: 0;
	padding-left: 12px;
	position: absolute;
	top: 18px;
	z-index: 9999;
}
.MenuHeading i {
	color: #FFF;
	padding-right: 5px;
}
#SecondMenu .mean-nav {
	background: #f5f5f5;
	border: 1px solid #CCCCCC;
	width: 99.7%;
}
#SecondMenu .mean-nav ul {
	padding: 8px;
}
#SecondMenu .mean-nav ul li a {
	font: bold 13px/14px Calibri, Helvetica, sans-serif;
	color: #555;
	border: 0;
	padding: 0;
}
#SecondMenu .mean-nav ul li a:hover, #SecondMenu .mean-nav ul li a:hover span, #SecondMenu .mean-nav ul li a.active {
	color: #1ba1fc;
}
.sticky-navigation {
	width: 100%;
	z-index: 999;
}
.sticky-navigation .MenuDiv {
	background: #f7f7f7;
	margin:0;
	border-bottom: 1px solid #e6e6e6;
}
.logo-small {
	float: left;
	display: none;
}
.MenuDiv nav ul {
	float: right;
}
@media (max-width:1100px){
.menu nav li{
margin:0 11px;
}
}
@media (max-width:1000px){
.menu nav li{
margin:0 5px;
}
}